<html>
<head>
    <title>geochat</title>
    <link rel='stylesheet' href='/stylesheets/chat.css'/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script>
        $(function(){
            var tabs=$("#tabs").tabs();
            tabs.find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function() {
                    tabs.tabs( "refresh" );
                }
            });
        });
    </script>
    <script src="/socket.io/socket.io.js"></script>
	
	<script>
        // This should be extracted to PresenceClient.js

        // This must come before ChatClient.js
		var socket = io.connect('http://localhost:3000');
		
		socket.on('connect', function(data){
			console.log('connected');
		});
		
		socket.on('error', function(data){
			console.log('unable to connect');
		});
		

	</script>
    <script src="/js/ChatClient.js"></script>
    
</head>
<body onLoad = "getUserLocation()">
<div id="menus">
    <ul>
        <li><a href="account">Account</a>
            <ul>
                <li><a href="logOut">Log out</a></li>
            </ul>
        </li>
        <p id="output">Current location: *This will be removed once all location aspects are working.*</p>
    </ul>
</div>
<div id="tabs">
    <ul>
        <!--<\%=tabs>-->
        <li><a href="#tabs-1">Nearby</a></li>
        <li><a href="#tabs-2">Building</a></li>
    </ul>
    <div id="tabs-1">
        <ul>
            <div id="chat">
                <!--chatLo>-->
            </div>
            <div id="userList">
                <!--userList-->
            </div>
            <div id="roomList">
                <!--roomList-->
            </div>
            <form id="textEntry">
                <input id="message" type="text">
                <button type="submit">Send</button>
            </form>
            <div id="mapholder"></div>   <!--MOVE THIS MAP-->
        </ul>
    </div>
    <div id="tabs-2">
        <div id="chat">
            <p>But if this is visible it isn't</p>
        </div>
        <div id="userList">

        </div>
        <div id="roomList">

        </div>
    </div>
</div>

<!--Google Maps API key  AIzaSyDU3H0Nf-iIF9GBRUZIPX4WqIru7pIhfNw
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={AIzaSyDU3H0Nf-iIF9GBRUZIPX4WqIru7pIhfNw}&sensor=false"></script>-->
<script>
    var LAT = 0;
    var LONG = 0;
    var x = document.getElementById("output");

    function getUserLocation()
    {
        if (navigator.geolocation)
        {
            navigator.geolocation.watchPosition(getCoordinates, handleError, {frequency: 300000});  //updates user location every 5 minutes
        }
        else{x.innerHTML="Geolocation is not supported by this browser.";}
    }
    function getCoordinates(position)
    {
        LAT = position.coords.latitude;
        LONG = position.coords.longitude;

        var latlon=LAT+","+LONG;
        socket.emit('location_update', {latitude: LAT, longitude: LONG});
        x.innerHTML="Current location: Latitude " + LAT + ", Longitude: " + LONG + " *This will be removed once the map is working.*";

        /* CODE FOR PRINTING THE MAP
         not 100% functional yet

         var img_url="http://maps.googleapis.com/maps/api/staticmap?center="+latlon+"&zoom=14&size=400x300&sensor=false";
         var map = document.getElementById("mapholder");
         var marker = new google.maps.Marker({
         map: map,
         position: new google.maps.LatLng(LAT, LONG),
         title: (label || "You are here!")
         });
         map.innerHTML="<img src='"+img_url+"'>"; >*/
    }
    function handleError(error)
    {
        switch(error.code)
        {
            case error.PERMISSION_DENIED:
                x.innerHTML="User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML="Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML="The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML="An unknown error occurred."
                break;
        }
    }
</script>
<!-- <div id="mapholder"></div>
This will have to go where we want the map to appear on the screen.-->

</body>
</html>
