<html>
<head>
    <title>GeoChat</title>
    <link rel='stylesheet' href='/stylesheets/chat.css'/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src='/node_modules/ui.tabs.closable.js'></script>
    <script>
        $(function(){
            var tabs=$("#tabs").tabs({closable:true});
            tabs.find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function() {
                    tabs.tabs( "refresh" );
                }
            });
        });
    </script>
    <script src="/socket.io/socket.io.js"></script>
	
	<script src="js/PresenceClient.js"></script>
    <script src="/js/ChatClient.js"></script>
    <script src="/js/NotificationClient.js"></script>
    <script src="/js/NicknameClient.js"></script>
    <script src="/js/BuildingClient.js"></script>
    
</head>
<body onLoad = "getUserLocation()">
<div id="menus">
    <ul>
        <li><a href="account">Account</a>
            <ul>
                <li><a href="logOut">Log out</a></li>
            </ul>
        </li>
        <li>Chatting As: <span id="current_nickname"></span></li>
    </ul>
</div>
<div id="tabs" class="inline">
    <ul id="tab_list">
        <li><a href="#tabs-none">Nearby</a></li>
        <li><a href="#tabs-0">Berkshire</a></li>
        <li><a href="#tabs-1">Worcester</a></li>
        <li><a href="#tabs-2">Hampshire</a></li>
        <li><a href="#tabs-3">Franklin</a></li>
    </ul>

    <div id="tabs-none">
        <ul>
            <div id="chat-none">
                <!--chatLog>-->
            </div>
        </ul>
    </div>
    <div id="tabs-0" style="display: none;">
        <ul>
            <div id="chat-0">
                Berkshire
            </div>
        </ul>
    </div>
    <div id="tabs-1" style="display: none;">
        <ul>
            <div id="chat-1">
                Worcester
            </div>
        </ul>
    </div>
    <div id="tabs-2" style="display: none;">
        <ul>
            <div id="chat-2">
                Hampshire
            </div>
        </ul>
    </div>
    <div id="tabs-3" style="display: none;">
        <ul>
            <div id="chat-3">
                Franklin
            </div>
        </ul>
    </div>
</div>

<div id="userList" class="inline">

</div>
<div class="inline" id="roomList">
    <ul>
        <% buildings.forEach(function(building){ %>
        <li data-id="<%= building.id %>" data-name="<%= building.name %>"><%= building.name %></li>
        <% }); %>
    </ul>
</div>
<div id="mapholder"></div>   <!--MOVE THIS MAP-->

<!--Google Maps API key  AIzaSyDU3H0Nf-iIF9GBRUZIPX4WqIru7pIhfNw -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={AIzaSyDU3H0Nf-iIF9GBRUZIPX4WqIru7pIhfNw}&sensor=false"></script>
<script type="text/javascript" src="/js/LocationClient.js"></script>
<!-- <div id="mapholder"></div>
This will have to go where we want the map to appear on the screen.-->
<form id="textEntry">
    <input id="message" type="text" autocomplete="off">
    <button type="submit">Send</button>
</form>
<p id="output">Current location: *This will be removed once all location aspects are working.*</p>
</body>
</html>
