<html>
<head>
    <title>GeoChat</title>
    <link rel='stylesheet' href='/stylesheets/chat.css'/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        $(function(){
            $("#tabs").tabs();
            
            $("#tabs").find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function() {
                    tabs.tabs( "refresh" );
                }
            });
        });
    </script>
    <script src="/socket.io/socket.io.js"></script>
	
	<script src="/js/PresenceClient.js"></script>
	<!--Google Maps API key  AIzaSyB7Rh3B0j0VsvVZ9a50ttAWmM28LAUc838-->
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="/js/LocationClient.js"></script>
    <script src="/js/ChatClient.js"></script>
    <script src="/js/NotificationClient.js"></script>
    <script src="/js/NicknameClient.js"></script>
    <script src="/js/TabClient.js"></script>


</head>
<body onLoad = "onLoad()">
	<script>
		function onLoad(){
			var location_client = new LocationClient();
		}
	</script>
<div id="menus">
    <ul>
        <li><p>Account</p>
            <ul>
                <li><a href="logOut">Log out</a></li>
            </ul>
        </li>
        <li><a id="update_location_button" href="updateLocation">Update Location</a></li>
        <form id="nicknameBox">Chatting As: <span id="current_nickname"></span></form>
    </ul>
</div>
<div id="tabs" class="inline">
    <ul id="tab_list">
        <li><a id="noPad" href="#tabs-nearby">Nearby</a></li>
    </ul>
    <div id="tabs-nearby">
        <div class="chat"></div>
        <form class="textEntry" data-id="nearby">
            <input class="message" type="text" autocomplete="off">
            <button type="submit">Send</button>
        </form>
        <div class="userList" class="inline"></div>
    </div>
</div>

<div class="inline" id="roomList">
    <ul>
        <% buildings.forEach(function(building){ %>
        <li data-id="<%= building.id %>" data-name="<%= building.name %>"><%= building.name %></li>
        <% }); %>
    </ul>
</div>
<div id="mapholder"></div>
</body>
</html>
