<html>
<head>
    <title>geochat</title>
    <link rel='stylesheet' href='/stylesheets/chat.css'/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        $(function(){
            var tabs=$("#tabs").tabs();
            tabs.find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function() {
                    tabs.tabs( "refresh" );
                }
            });
        });
    </script>
    <script src="/socket.io/socket.io.js"></script>
	
	<script>
		var socket = io.connect('http://localhost:3000');
		socket.on('message', function (data) {
			//display the message
		});
		
		jQuery('#chat_thing').on('submit', function(){
			var data = {type: 'blah', content: 'blah'}
			socket.emit('message', data);
		});
	</script>
    
</head>
<body>
<div id="menus">
    <ul>
        <li><a href="account">Account</a>
            <ul>
                <li><a href="logOut">Log out</a></li>
            </ul>
        </li>
    </ul>
</div>
<div id="tabs">
    <ul>
        <!--<\%=tabs>-->
        <li><a href="#tabs-1">Nearby</a></li>
        <li><a href="#tabs-2">Building</a></li>
    </ul>
    <div id="tabs-1">
        <ul>
            <div id="chat">
                <!--<=chatLog>-->
            </div>
            <div id="userList">
                <!--<=userList>-->
            </div>
            <div id="roomList">
                <!--<=roomList>-->
            </div>
        </ul>
    </div>
    <div id="tabs-2">
        <div id="chat">
            <p>But if this is visible it isn't</p>
        </div>
        <div id="userList">

        </div>
        <div id="roomList">

        </div>
    </div>
</div>
</body>
</html>
