<html>
<head>
    <title>geochat</title>
    <link rel='stylesheet' href='/stylesheets/chat.css'/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script>
        $(function(){
            var tabs=$("#tabs").tabs();
            tabs.find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function() {
                    tabs.tabs( "refresh" );
                }
            });
        });
    </script>
    <script src="/socket.io/socket.io.js"></script>
	
	<script>
        // This should be extracted to PresenceClient.js

        // This must come before ChatClient.js
		var socket = io.connect('http://localhost:3000');
		
		socket.on('connect', function(data){
			console.log('connected');
		});
		
		socket.on('error', function(data){
			console.log('unable to connect');
		});
		

	</script>
	
    <script src="/js/ChatClient.js"></script>
    <script src="/js/NotificationClient.js"></script>
    <script src="/js/NicknameClient.js"></script>
    
</head>
<body onLoad = "getUserLocation()">
<div id="menus">
    <ul>
        <li><a href="account">Account</a>
            <ul>
                <li><a href="logOut">Log out</a></li>
            </ul>
        </li>
        <li>Chatting As: <span id="current_nickname"></span></li>
        <p id="output">Current location: *This will be removed once all location aspects are working.*</p>
    </ul>
</div>
<div id="tabs">
    <ul>
        <!--<\%=tabs>-->
        <li><a href="#tabs-1">Nearby</a></li>
        <li><a href="#tabs-2">Building</a></li>
    </ul>
    <div id="tabs-1">
        <ul>
            <div id="chat">
                <!--chatLo>-->
            </div>
            <div id="userList">
                <!--userList-->
            </div>
            <div id="roomList">
                <!--roomList-->
            </div>
            <form id="textEntry">
                <input id="message" type="text">
                <button type="submit">Send</button>
            </form>
            <div id="mapholder"></div>   <!--MOVE THIS MAP-->
        </ul>
    </div>
    <div id="tabs-2">
        <div id="chat">
            <p>But if this is visible it isn't</p>
        </div>
        <div id="userList">

        </div>
        <div id="roomList">

        </div>
    </div>
</div>

<!--Google Maps API key  AIzaSyDU3H0Nf-iIF9GBRUZIPX4WqIru7pIhfNw -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={AIzaSyDU3H0Nf-iIF9GBRUZIPX4WqIru7pIhfNw}&sensor=false"></script>-->
<script type="text/javascript" src="/js/LocationClient.js"></script>
<!-- <div id="mapholder"></div>
This will have to go where we want the map to appear on the screen.-->

</body>
</html>
