<html>
<head>
    <title>GeoChat</title>
    <link rel='stylesheet' href='/stylesheets/chat.css'/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src='js/ui.tabs.closable.min.js'></script>
    <script>
        $(function(){
            var tabs=0;
            $("#tabs").tabs({
                closable: true
            });
            tabs.find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function() {
                    tabs.tabs( "refresh" );
                }
            });
        });
    </script>
    <script src="/socket.io/socket.io.js"></script>
	
	<script src="js/PresenceClient.js"></script>
    <script src="/js/ChatClient.js"></script>
    <script src="/js/NotificationClient.js"></script>
    <script src="/js/NicknameClient.js"></script>
    <script src="/js/BuildingClient.js"></script>
    <script src="/js/TabClient.js"></script>
</head>
<body onLoad = "onLoad()">
<script>
    function onLoad(){
        getUserLocation();
        makeTab('Nearby');
    }
</script>
<div id="menus">
    <ul>
        <li><a href="account">Account</a>
            <ul>
                <li><a href="logOut">Log out</a></li>
            </ul>
        </li>
        <form id="nicknameBox">Chatting As: <span id="current_nickname"></span></form>
    </ul>
</div>
<div id="tabs" class="inline">
    <ul id="tab_list">
        <li><a href="#tabs-none">Nearby</a></li>
        <li><a href="#tabs-0">Berkshire</a></li>
        <li><a href="#tabs-1">Worcester</a></li>
        <li><a href="#tabs-2">Hampshire</a></li>
        <li><a href="#tabs-3">Franklin</a></li>
    </ul>
</div>

<div class="inline" id="roomList">
    <ul>
        <% buildings.forEach(function(building){ %>
        <li data-id="<%= building.id %>" data-name="<%= building.name %>"><%= building.name %></li>
        <% }); %>
    </ul>
</div>
<div id="mapholder"><p>We're working on getting a map in here, we</p><p>need a URL to have it display.</p></div>   <!--MOVE THIS MAP-->

<!--Google Maps API key  AIzaSyDU3H0Nf-iIF9GBRUZIPX4WqIru7pIhfNw -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={AIzaSyDU3H0Nf-iIF9GBRUZIPX4WqIru7pIhfNw}&sensor=false"></script>
<script type="text/javascript" src="/js/LocationClient.js"></script>
<!-- <div id="mapholder"></div>
This will have to go where we want the map to appear on the screen.-->
<p id="output">Current location: *This will be removed once all location aspects are working.*</p>
</body>
</html>
