<!DOCTYPE html>
<html>

	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/home.css' />
	</head>

	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<div id="stylized" class="myform">
			<form id="login_form" name="form" method="post" action="/login">
				<h1>Login form</h1>

				<label>Email
				<span class="small">We won't share this.</span>
				</label>
				<input type="text" name="email" id="email" />

				<label>Password</label>
				<input type="password" id="login_password" />
				<input type="hidden" name="password" id="hash_field" />

				<button id='login_button'>Log in</button>
				<script>
					$('#login_button').click(function(){
						var hash = CryptoJS.SHA1($('#login_password').val());
						$('#login_password').val("");
						$('#hash_field').val(hash);
						$('#login_form').submit();
					});
				</script>
				<div class="spacer"></div>
				<h1 style='color:red'><%= login_err %></h1>
			</form>

			<p>
				Enter your email and password above. There is no email verification and your password is never sent over the network. If there exists no account with the specified email address, one will be created.
			</p>
		</div>
	</body>

</html>

