<div id="tabs-<%=id%>">
    <div class="chat"></div>
    <form class="textEntry">
        <input type="hidden" value='<%=id%>'>
        <input class="message" type="text" autocomplete="off">
        <button type="submit">Send</button>
    </form>
    <div class="userList" class="inline"></div>
</div>