body{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}
#menus{
    border:solid 2px #b7ddf2;
    border-bottom: 0px;
    background:#ebf4fb;
    margin:0;
    padding: 0;
    width: 1084px;
}
#nicknameBox{
    border-left: solid 1px #b7ddf2;
    float: right;
    padding-top: 10;
    padding-bottom: 10;
}
#tabs{
    border:solid 2px #b7ddf2;
    border-left: 0px;
    background:#ebf4fb;
    margin:0;
    padding: 0;
    width: 628px;
    height: 418px;
    position: relative;
    left: 186px;
}
.ui-tabs {
    position: relative;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    margin-top: 4;
    padding-top: .2em;
}
.ui-tabs .ui-tabs-nav li {
    left: 0;
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a,
.ui-tabs .ui-tabs-nav li a:visited{
    float: none;
    padding: .5em 1em;
    text-decoration: none;
    border:solid 1px #b7ddf2;
    color: blue;
    padding-right: 25px;

}
#noPad{
    padding-right: .5em;
}
.ui-tabs .ui-tabs-nav li a:hover,
.ui-tabs .ui-tabs-nav li a:active{
    color: red;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: text;
    color: red;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
}
/*
current tab
*/
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    background: none;
    margin-top: 22px;
    margin-bottom: 58%;
    border-top:solid 1px #b7ddf2;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-bottom-width: 0;
}
#menus ul li{
    border:solid 1px #b7ddf2;
    background:#ebf4fb;
    list-style: none;
    position: relative;
    top: 0;
    padding: 8;
    white-space: nowrap;
    display: inline-block;
}
#menus ul li a{
    color: black;
}
#menus ul li:hover{
    background: #b7ddf2;
}
#menus ul li ul{
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
    display: none;
    z-index: 1;
}
#menus ul li:hover >ul{
    margin-top: 30px;
    display: table-column;
}

p{
    margin: 0;
}
.userList{
    overflow: scroll;
    height: 552px;
    width: 182px;
    border: solid 2px #b7ddf2;
    background: #ebf4fb;
    white-space: nowrap;
    position: absolute;
    top: -2px;
    left: -186px;
}
#roomList{
    overflow: scroll;
    height: 290px;
    width: 270px;
    background-color: #ebf4fb;
    border: solid 2px #b7ddf2;
    border-left: 0px;
    white-space: nowrap;
    position: absolute;
    left: 824px;
}
.textEntry{
    overflow: scroll;
    height: 132px;
    width: 630px;
    background-color: #ffffff;
    border-bottom: solid 2px #b7ddf2;
    border-right: solid 2px #b7ddf2;
    float: left;
    position: absolute;
    top: 420px;
    left: -2px;
}
.message{
    height: 132px;
    width: 520px;
    border: none;
    border-right: solid 1px #b7ddf2;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 12px;
}
button{
    clear:both;
    width:100px;
    height:132px;
    background:#666666 url(img/button.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    position: absolute;
}
#mapholder{
    overflow: scroll;
    height: 260px;
    width: 270px;
    border-right: solid 2px #b7ddf2;
    border-bottom: solid 2px #b7ddf2;
    white-space: nowrap;
    position: absolute;
    left:824px;
    top: 337px;
}
.inline{
    display: inline-block;
}