body{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}
#tabs{
    border:solid 2px #b7ddf2;
    background:#ebf4fb;
    margin:0;
    width: 75%;
}
.ui-tabs {
    position: relative;
    padding: .2em;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
    float: none;
    padding: .5em 1em;
    text-decoration: none;
    border:solid 2px #b7ddf2;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
}
/*
current tab
*/
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
    margin-top: 23px;
    margin-bottom: 60%;
    border-top:solid 2px #b7ddf2;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-bottom-width: 0;
}
#chat{
    overflow: scroll;
    height: 90%;
    width: 70%;
    background-color: #ffffff;
    border: solid 2px #b7ddf2;
    float: left;
}
#userList{
    margin-left: 8px;
    overflow: scroll;
    height: 44%;
    width: 28%;
    background-color: #ffffff;
    border: solid 2px #b7ddf2;
    white-space: nowrap;
    float: left;
}
#roomList{
    margin-left: 8px;
    margin-top: 8px;
    overflow: scroll;
    height: 44%;
    width: 28%;
    background-color: #ffffff;
    border: solid 2px #b7ddf2;
    white-space: nowrap;
    float: left;
}